.env
.envrc
.direnv
wandb/
rslp/__pycache__/
**__pycache__

repos/
project_data
rslp/crop_type_mapping/csv/
rslp/crop_type_mapping/geoparquets/
rslp/mangrove/csv/
log*.txt

# for local finetuning runs
/config.yaml
lightning_logs/
/tmp*/
docker_build

# misc from one off projects
one_off_projects/2025_07_joint_finetune/data

