.env
wandb/
project_data
/helios/
/rslearn/
rslp/__pycache__/
**__pycache__
rslp/crop_type_mapping/csv/
rslp/crop_type_mapping/geoparquets/
rslp/mangrove/csv/
log*.txt

# for local finetuning runs
/config.yaml
lightning_logs/
/tmp*/